@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoryeongStrawberry";
  src: url("@assets/fonts/GoryeongStrawberry.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
